<div class="container-fluid">
<p>careers</p>
</div>



<img src="{{image2}}" class="img2">
<img src="{{image1}}" class="img1">
<img src="{{image3}}" class="img3">
<h1>Making B2B technology smart and sexy.</h1>
<p class="p2">Our INTURN family is a group of smart, inquisitive go-getters who are working to tackle the final<br>frontier in retail. Disruption is one of our favorite words, and if we can't find a solution, we<br> create one. #weturn</p>
<a class="btn btn-reddy btn-sm btn-min-block" href="">INTERESTED IN JOINING US?</a><br><br>
<div class="container">
<img src="{{image4}}" class="img4">
</div>

<div class="container">
  <h2>Benfits</h2>
  <img src="{{image5}}" class="img5">

</div>
<hr>
<div class="container-fluid1">
  
    <table class="table table-hover">
    <thead>
      <tr>
       
        <th>Position</th>
        <th>Location</th>
        <th>Team</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Director of Sales</td>
        <td>New York City HQ, United States</td>
        <td>Business Development</td>
        
       
       
       
      </tr>
      <tr>
          <td>Enterprise Sales Manager;</td>
        <td>London, United Kingdom,</td>
        <td>Business Development</td>
     
      </tr>
      <tr>
          <td>Lead UX Designer</td>
        <td>New York City, NY, United State</td>
        <td>Engineering</td>
    
      </tr>
      <tr>
          <td>Quality Assurance Engineer</td>
        <td>New York City HQ, United States</td>
        <td>Design</td>
        
      </tr>
      <tr>
          <td>Senior Marketing Director</td>
        <td>New York City, NY, United States</td>
        <td>Engineering</td>
        
      </tr>
      <tr>
          <td>Senior Software Engineer (Javascript/React)</td>
        <td>New York City HQ, United States</td>
        <td>	Engineering</td>
      
      </tr>
    </tbody>
  </table>
</div>