

<div class="container-fluid">

<p>
About
</p>
  </div>
  <img src="{{image1}}" class="img1">



  <h1>We’re making off‑price for everyone.</h1>
  <p class="p1">Our cloud based exchange provides brands and retailers with transparent and<br> real-time view of inventory and powerful business intelligence tools to enable <br>them to transact faster at lower cost.</p>
  <div class="container-fluid2">

<img src="{{image11}}" class="img11">
<img src="{{image12}}" class="img12">
</div>
  
  
  
  <div class="container-fluid1">
      <h1 class="head">investors</h1>
        <p class="p5">Our investors and advisors represent<br> some of the most strategic and influential<br> retail technology experts in the industry.</p>
        <img src={{image8}} class="img8">
        <img src={{image9}} class="img9">
        <img src="{{image10}}" class="img10">
        <p class="p9"><a>Benvolio Group</a> | <a> T5 Capital</a> |<a> Shuco LLC (an investment arm of Stanley S. Shuman)</a><br>
           <a> Bam Ventures</a>|<a> Fabrice Grinda</a>|<a> Ian Osborne</a>| <a>Khajak Keledjian</a> </p>
      </div>