
<header class="contaioner"> 
  <nav class="navbar navbar-right navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">Ravindarreddy</a>
      <ul class="nav navbar-nav navbar-right">
       
                            <li>  <a class=""  [routerLink]="['/home']">HOME</a></li>
                            <li>  <a class=""  [routerLink]="['/features']">FEATURES</a></li>
                            <li class="dropdown">
                              <a [routerLink]="['/about']" class="dropdown-toggle" data-toggle="dropdown">ABOUT<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li class="">
                                  <a href="/about" >The company</a>
                                </li>
                                <li class="">
                                  <a href="/off-price">The industry</a>
                                </li>
                                <li class="">
                                  <a href="/what-we-do" >what we do</a>
                                </li>
                                
                                
                              </ul>
                            </li>
                    
                        <li> <a class=""     [routerLink]="['/resources']">RESOURCES</a></li>
                       <li> <a class=""      [routerLink]="['/careers']">CAREERS</a></li>
                       <li>  <a class=""    [routerLink]="['/blog']">BLOG</a></li>
                      <li>  <a class=""   [routerLink]="['/login']">LOGIN</a></li>
                       <a class="btn btn-ready btn-sm btn-min-block" [routerLink]="">GET STARTED</a>
  </ul>
                          </div>
                          </nav> 
                        </header>
                     