<div class="container-fluid">
  <p>Our Solutions</p>
  <img src="{{image1}}" class="img1">
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    <ul class="nav navbar-nav">
     
      <li><a  [routerLink]="['/features']">FEATURES</a></li>
      <li><a [routerLink]="['/retailer']">RETAILERS</a></li>
      <li><a  [routerLink]="['/brands']">BRANDS</a></li>
    </ul>
  </nav>
  
  </div>

<h1>Creating Operational Efficiencies<br> and Profitability for Retailers</h1>
<div class="continer">
<ul>
<li class="ravi">Buy 25%+more </li>
<li class="rkavi">Save 80+ buying hours per month</li>
<li class="raks">Purchase in minutes</li>
</ul>

</div>
<div class="container-fluid">
<h1>Buying Teams Can Spend More Time in<br> Market Building their Business</h1>

<div class="continer">
<div class="col-md-4 ">
    <h5>Better Buys</h5>
       <ul>
             <li><a href="#"> See more inventory with content-rich details and images from more countries</a> </li>
             <li><a href="#">Increase your global brand network</a> </li>
            
           </ul>
           
 </div>
 <div class="col-md-4 footer-three">
    <h5>Streamlined Process</h5>
       <ul>
             <li><a href="#"> Buy more, faster</a> </li>
             <li><a href="#"> Calculate pricing by margin targets and ticket prices</a> </li>
             <li><a href="#"> blog</a> </li>
             <li><a href="#"> Contact Us</a> </li>
           </ul>
           
 </div>
 <div class="col-md-4 footer-four">
    <h5>Added Insight</h5>
    <li><a href="#">Buy real-time on computer, mobile or tablet</a> </li>
    <li><a href="#">See historical purchasing and negotiation history</a> </li>
           
 </div>
</div>
</div>