<div class="container-fluid">
  <p>Our Solutions</p>
  <img src="{{image1}}" class="img1">
  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    <ul class="nav navbar-nav">
     
      <li><a  [routerLink]="['/features']">FEATURES</a></li>
      <li><a [routerLink]="['/retailer']">RETAILERS</a></li>
      <li><a  [routerLink]="['/brands']">BRANDS</a></li>
    </ul>
  </nav>
  
  </div>

<h1>Redefining the Off‑Price Sales Process</h1>
<div class="continer">
<ul>
<li class="ravi">Move inventory 80% faster </li>
<li class="rkavi">Grow your buyer network 3x</li>
<li class="raks">Increase your margin 23%+</li>
</ul>

</div>
<div class="container-fluid">
<h1>Buying Teams Can Spend More Time in<br> Market Building their Business</h1>

<div class="continer">
<div class="col-md-4 ">
    <h5>Improve Internal Visibility</h5>
       <ul>
             <li><a > Digitally allocate inventory and watch the activity on your offers by your multiple buyers</a> </li>
             <li><a >See in real-time your inventory and the history of your negotiations and sales trends for better selling</a> </li>
            
           </ul>
           
 </div>
 <div class="col-md-4 footer-three">
    <h5>Drive Efficiency</h5>
       <ul>
             <li><a > Eliminate manual manipulation of Excel spreadsheets</a> </li>
             <li><a >Reduce negotiation time frame</a> </li>
             <li><a > Simplify data and image analysis</a> </li>
             
           </ul>
           
 </div>
 <div class="col-md-4 footer-four">
    <h5>Drive Revenue</h5>
    <li><a >Proactively markdown your inventory</a> </li>
    <li><a>Expand global buyer network</a> </li>
           
 </div>
</div>
</div>
