h1{
    text-align: center;
    color: cadetblue;
    margin-top:100px;
    font-size: 180%;

}
.ravi{
    background: #03bdd6;
    color: #fff;
    padding: 20px 50px;
    width: 267px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    min-height: 80px;
    vertical-align: middle;
    margin-top: 95px;
    border-radius: 10px;
    position: relative;
    margin-left: 114px;
}

.rkavi{
    background: #03bdd6;
    color: #fff;
    padding: 20px 50px;
    width: 267px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 18px;
    min-height: 80px;
    vertical-align: middle;

    border-radius: 10px;
    position: relative;
    margin-left: 435px;
    margin-top: -80px;
}

.raks{
    background: #03bdd6;
    color: #fff;
    padding: 0px 50px;
    width: 267px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    min-height: 80px;
    vertical-align: middle;
    margin: 0 16px 30px;
    border-radius: 10px;
    position: relative;
    margin-top: -79px;
    margin-left: 760px;
}


.container-fluid{
    background-color: #eef7fe;
    width: 100%;
    height: 445px;
    
}
h5{
    margin-left: 38px;
    font-size: 144%;
    color: #337ab7;
    margin-top: 60px;
}
li.a{
    color: #54595d;
    text-decoration: none
}

.container-fluid{
    background-color: #eef7fe;
    width: 100%;
    height: 446px;
    
}
p{
    margin-top: 100px;
    text-align: center;
    font-size: 327%;
    margin-top: 144px;
    color: #8a7070;
    font-family: "Times New Roman", Times, serif;
}
.img1{
    width: 19%;
    margin-left: 490px;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}
ul.nav.navbar-nav{
    margin-left: 440px;
}
.navbar-inverse {
    background-color:#eef7fe;
    border-color:none;
    border: none;
}
a{
    color: #1a1b1b;
    text-decoration: none;
}