<div class="container-fluid">

<p>
  Blog 
</p>

</div>
<img src="{{image1}}" class="img1">

<div class="container">

    <div class="container">
        <div class="row">
        
              <div class="span12">
                  <form id="custom-search-form" class="form-search form-horizontal pull-right">
                      <div class="input-append span12">
                          <input type="text" class="search-query mac-style" placeholder="Search">
                          <button type="submit" class="btn"><i class="icon-search"></i></button>
                      </div>
                  </form>
              </div>
        </div>
      </div>

</div>
<div class="container">
<h1>Goodbye Retail Apocalypse, Hello 2018!</h1>
<p class="p2">January 08, 2018 </p>
<img src="{{image2}}" class="img2">
<p class="p2">Although 2017 was named the “ Retail Apocalypse”, things are looking up for the retail industry in <br>2018</p>
<a>Readmore</a>
<hr>

<h1>How to Keep up the Momentum After the Holiday Season</h1>
<p class="p2">November 27, 2017
  </p>
<img src="{{image3}}" class="img2">
<p class="p2">As much as the holiday sales predictions and numbers are important to retailers, the post-holiday<br> season is just as crucial - when all of the returns come in. ATTN Retailers - here's how to monetize <br>on returns... </p>
<a>Readmore</a>
<hr>


<h1>The Future of Inventory</h1>
<p class="p2">October 23, 2017  </p>
<img src="{{image4}}" class="img2">
<p class="p2">The future of inventory is going to be flooded with updates in technology. From virtual reality, to<br> artificial intelligence, to digital signage, and even inventory-less stores, there are constant iterations<br> made in this industry to…</p>
<a>Readmore</a>
<hr>



<h1>Holiday Inventory Management</h1>
<p class="p2">October 10, 2017  </p>
<img src="{{image5}}" class="img2">
<p class="p2">It’s October. Summer just ended. But retailers have been thinking about the holiday season long<br> before you even left the beach. Black Friday, Cyber Monday, and the rest of the holiday shopping <br>season seem months away, but for retailers,…</p>
<a>Readmore</a>
<hr>




<h1>Inventory Management, Part 2</h1>
<p class="p2">October 02, 2017</p>
  <img src="{{image6}}" class="img2">
<p class="p2">As previously discussed in the last two blogs, inventory management requires a lot of attention and<br> has minimal room for error, and it is crucial for businesses to be as accurate as possible. Real-time<br> inventory makes it simpler for…</p>
<a>Readmore</a>
<hr>





<h1>Inventory Management, Part 1</h1>
<p class="p2">October 02, 2017 </p>
 <img src="{{image7}}" class="img2">
<p class="p2">Last week’s blog discussed the different factors that make up the “real” cost of inventory. And<br> calculating the cost is only a fraction of the work retail businesses must do to keep their inventory<br> flowing and margins increasing. This post…</p>
<a>Readmore</a>
<hr>




<h1>Inventory: The "Real" Cost</h1>
<p class="p2">September 26, 2017 </p>
 <img src="{{image8}}" class="img2">
<p class="p2">Inventory is the largest expense for every retailer, and businesses need to calculate its cost in order<br> to properly speculate their financials for the upcoming quarters. This first post of the four-part<br> Inventory Blog Series will discuss…</p>
<a>Readmore</a>
<hr>



<h1>Innovation: Impact & Results</h1>
<p class="p2">September 15, 2017</p>
  <img src="{{image9}}" class="img2">
<p class="p2">You’ve repeatedly seen the word innovation in the past few blog posts, learning how it impacts <br> to properly speculate their financials for the upcoming quarters. This first post of the four-part<br> businesses, consumers, and the retail industry as a whole. You’ve also read about the numerous <br>opportunities and challenges that it brings,…</p>
<a>Readmore</a>
<hr>



<h1>Innovation: Change</h1>
<p class="p2">August 24, 2017 </p>
<img src="{{image10}}" class="img2">
<p class="p2">Over the past two weeks we’ve discussed technology innovation and its impact on the retail <br> industry. However, we have yet to touch on what is probably the most significant factor in the <br>adoption of innovation: change.</p>
<a>Readmore</a>
<hr>



<h1>Innovation: Retail Innovation</h1>
<p class="p2">August 17, 2017 </p>
<img src="{{image11}}" class="img2">
<p class="p2">The retail industry is faced with the challenge to innovate at its fastest pace ever, mostly due to the <br> growth of e-commerce and the changes in consumer preferences. And this pressure to innovate <br>has driven retailers to experiment on many…</p>
<a>Readmore</a>
<hr>
</div>

<div class="pagination">
  <a   [routerLink]="['/blog']">&laquo;</a>
  <a  [routerLink]="['/blog']" class="active">1</a>
  <a   [routerLink]="['/blog']" >2</a>
  <a   [routerLink]="['/blog']">3</a>
  <a   [routerLink]="['/blog']">4</a>
  <a  [routerLink]="['/blog']">5</a>
  <a   [routerLink]="['/blog']">6</a>
  <a   [routerLink]="['/blog']">&raquo;</a>
</div>