<div class="continer">


<h1>The New Way to do Off‑Price</h1>
<p>We are using technology to make buying and selling easier, faster, and more<br> profitable for both brands and retailers.</p>

<img src="{{image2}}" class="img2">
<h2 >Inventory & Upload</h2>
<p class="p1">Create a content-rich database that allows you to sort,<br> organize, search and classify your inventory.</p>
<h3>Allocate Inventory</h3>
<p class="p2">Classify and allocate inventory across different channels<br> and retailers using product tags for increased visibility.</p>
<img src="{{image3}}" class="img3">
<img src="{{image4}}" class="img4">
<h2>Offer Creation</h2>
<p class="p1">Build product offers with custom pricing rules and <br>restrictions to manage when, where, and how your<br>merchandise is sold.</p>
<h3>Negotiation</h3>
<p class="p2">Easily communicate back and forth to form an<br> agreement on inventory and pricing terms.</p>
<img src="{{image5}}" class="img3">
<img src="{{image6}}" class="img4">
<h4>Company & User Profile Pages</h4>
<p class="p1">Create a profile as you would on other social media<br> platforms for easy search and networking.</p>
<h3>Discovery</h3>
<p class="p2">Connect with other buyers and sellers to grow your<br> network and business</p>
<img src="{{image7}}" class="img3">
<img src="{{image8}}" class="img4">
<h2>Team Management</h2>
<p class="p1">Create a profile as you would on other social media<br> platforms for easy search and networking.</p>

</div>
<div class="continer">
  <a class="btn btn-raks btn-sm btn-min-block" href="">SHEDULE A DEMO TODAY</a> 
</div>
